<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.insta.clone.dto.UserDTO"/>
        <package name="com.insta.clone.dto.UserJoinDTO"/>
        <package name="com.insta.clone.dto.ImageDTO"/>
        <package name="com.insta.clone.dto.CommentDTO"/>
        <package name="com.insta.clone.dto.FollowDTO"/>
        <package name="com.insta.clone.dto.LikesDTO"/>
        <package name="com.insta.clone.dto.TagDTO"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/AuthMapper.xml"/>
        <mapper resource="mapper/FollowMapper.xml"/>
    </mappers>
</configuration>