<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insta.clone.mapper.AuthMapper">
    <insert id="join" parameterType="com.insta.clone.dto.UserDTO">
        INSERT INTO user (
                          login_id,
                          password,
                          email,
                          name,
                          role
        ) VALUES (
                  #{loginId},
                  #{password},
                  #{email},
                  #{name},
                  #{role}
                         )
    </insert>
    <select id="findByUserLoginId" parameterType="String"
    resultType="com.insta.clone.dto.UserDTO">
        /* AuthMapper.findByUserLoginId */
        SELECT
            *
            FROM user
        WHERE login_id = #{userLoginId}
    </select>
    <select id="userIdByInfo" parameterType="Integer"
            resultType="com.insta.clone.dto.UserDTO">
        SELECT
            user_id,
            website,
            bio,
            name,
            profile_image
        FROM user
        WHERE user_id = #{userId}
    </select>
</mapper>